body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn-modern {
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(199, 199, 199);
}
.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 3px 1px 5px gray ;
    background-color: rgb(199, 199, 199);
    color: aqua;
    border-bottom: 2px solid #efefef;
    transition: 0.4s;
}